.size {
    display: flex;
}

.home {

    width: 75%;
    margin-left: auto;
}

.img {
    width: 200px;
}

.link {
    background-color: transparent;
    font-size: x-large;
    margin-bottom: 23px;
    display: block;
}

hr {
    background-color: white;
    display: block;
    
    width: 100%;
}

.inline {
    display: inline;

}