
.topNav{
    display: flex;
    justify-content: space-between;
    border: 1px solid  black;
    align-items: center;
    padding: 4px;
    background-color: rgb(48, 42, 42);
}
a{
    text-decoration: none;
    color: yellowgreen;
    padding: 4px;
    margin:0 7px;
    background-color: rgb(48, 42, 42);
}
.title,.items{
    background-color: rgb(48, 42, 42);

}