.itemCard{
    max-height: 30rem;
    max-width: 20rem;
    height: 30rem;
}
.des{
    height: 100px;
    text-overflow: ellipsis;
}
.news-title{
    max-height:70px;
    overflow: hidden;
    width: 100%;
    line-height:1.4rem;
}