@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');
*{
  box-sizing: border-box;
  scroll-behavior:smooth;
  font-family: "Sedan", serif;
  font-weight: 100;
}
a{
  text-decoration: none;
}
.nav-link:hover{
  text-decoration: underline;

}
.project{
  background-color: #fbfbfb;
}
.innerWidth {
  width: 100%;
  margin: auto;
}
body{
 background: #fbfbfb;
}
.delete_btn{
  background-color: tomato;
  color: white;
  padding: 5px 20px;
  border: none;
  border-radius: 15px;
  margin-top: 50px;
}
.delete_btn:active{
  scale: 0.89;
}
@media (min-width: 1536px) {
  .innerWidth {
    max-width: 1280px;
    margin: auto;
  }
}
