.profile{
    border-radius: 100px;
    object-fit: cover;
    width: 190px;
    height: 190px;

}
.design{
    content:kll,;
    width: 200px;
    height: 200px;
    background-color: chartreuse;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}